<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">


    {% block head %} 
        <title>Danilo Losi</title>
    {% endblock %}
    
</head>
<body>
    
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>